.wrap.robot {
  background: #c32f34; }
  .wrap.robot .masthead {
    background: white; }
  .wrap.robot .content {
    color: white;
    padding-bottom: 40px; }
    .wrap.robot .content h1, .wrap.robot .content h2, .wrap.robot .content h3, .wrap.robot .content a {
      color: white; }
    .wrap.robot .content a {
      font-style: italic; }
